<div id="index-template">
    <h2>Meet our Stylists</h2>

    #if($stylists.size() > 0)

        #foreach ($currentStylist in $stylists)

            <h3>$currentStylist.getName()</h3>
            <h4>Specialty: $currentStylist.getSpecialty()</h4>
            <img src="/images/$currentStylist.getImage()">
            <h4>Phone:(503) 555-0101 Ext# $currentStylist.getExtention()</h4>
            <h6>$currentStylist.getBio()</h6>
        #end
    #else
    <p>Now Hiring</p>
    #end
</div>
