<!DOCTYPE html>
<html>
    <head>
        <title>Very Good Hair Salon</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/app.css'>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Very Good Hair Salon</h1><hr>
                <a href="/">Home</a>
            </div>
            <div id=body>
                <div class="container">
                    #parse($template)
                </div>
            </body>
        </div>
        <div id="footer">
            <footer>
                <p>
                    Very Good Hair Salon | (503) 555-0101 | 123 Road St. Portland OR 97210 | <a href="/admin">Admin</a>
                </p>
            </footer>
        </div>
    </div>
</html>
